<div class="flex-row">
    <div class="flex-row-item uno">
        <mat-card>
            <p>
                dashboard works!
            </p>
        </mat-card>
    </div>
</div>
<div class="flex-row">
    <div class="flex-row-item dos">
        <mat-card>
            <p>
                dashboard works!
            </p>
        </mat-card>
    </div>
    <div class="flex-row-item dos">
        <mat-card>
            <p>
                dashboard works!
            </p>
        </mat-card>
    </div>
</div>

<div class="flex-row">
    <div class="flex-row-item uno">
        <mat-card>
            <mat-card-title>Mis registros</mat-card-title>

            <app-tabla-registros [permitirEliminar]="false" [registros]="registros"></app-tabla-registros>

        </mat-card>
    </div>
</div>
