.flex-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

/* .flex-row-item {
  border: 1px;
  border-color: crimson;
  border-style: dashed;
} */

.flex-row-item.uno {
  width: 100%;
}

.flex-row-item.dos {
  width: 50%;
}
